@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif!important;
}
.hover{
  transition: all 0.5s ease-out;
}
.hover:hover{
   box-shadow: 0 1px 1px 0 rgba(90,122,190,.1), 0 10px 20px 0 rgba(90,122,190,.2);
   cursor: pointer;
}